/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# hide secrets from repo
accounts.json
client_secret.json
google_admin_key.json
/.credentials/*
.rbenv-vars
*.gem

/.idea/

/examples/users.yml
/examples/connection.yml
/examples/client_secret.json
